@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Thin.ttf");
  font-weight: 300;
}

html {
  scroll-behavior: smooth; 
}
.body {
  font-family: 'Roboto';
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: antiquewhite;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  background-color: grey;
  padding-top: 20px;
}
.cv#3 {
  float: left;
  color: antiquewhite;
  margin-bottom: 30px;
  margin-left: 50px;
}

.nav-list {
  display: flex;
  float: right;
  align-items: center;
  list-style: none;
  font-size: large;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: antiquewhite; 
}
.main {
  position: relative;
  border: 1px solid red;
  margin-bottom: 5px;
  padding: 5px;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.section {
  width: 50%;
}

.photo-name {
  display: inline-block;
  width: 100%;
}
.name {
  display: inline-block;
  align-self: flex-end;
}

p {
  text-align: left;
  padding-right: 20px;
  
}
@media (max-width:768px) {
  .section, .photo-name {
    width: 100%;
    text-align: center;
  }
}
.footer {
  border: 1px solid blue;
  background-color: gray;
}
.footer-link {
  color: black;
  text-decoration: none;
  padding:0 10px;
}
.footer-center {
  position: relative;
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: larger;
  padding: 0px;
}